<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<title>Email sender</title>
		<link rel="stylesheet" href="styles/main.css">
		<link rel="stylesheet" href="styles/index.css">
	</head>
	<body>
		<div id="container">
			<div class="title">
				<h2>Email-sender<h2>
				<span>
					<img src="assets/delivery.svg" alt="delivery icon" width="24" height="24">
				</span>
			</div>
			<form action="/" method="POST">
				<div class="inputs-button">
					<input name="recipient" class="email" type="" placeholder="recipient"  required/>
					<input name="subject" class="email" type="" placeholder="assunto" />
					<textarea
						placeholder="digite o corpo do email aqui!"
						class="email-body"
						name="text"
						cols="30"
						rows="10"
					></textarea>
					<button class="submit" type="submit">
					Enviar
					</button>
				</div>
			</form>
			
		</div>
		<footer>
			All images credits to Kiranshastry Lineal
		</footer>
	</body>
</html>
